/* .text-primary {
    color: #E65922 !important;
}

.text-primary:hover {
    color: #FC583F !important;
} */

:root {
    --mdb-primary: #E65922 !important;
    --mdb-primary-rgb: 230, 89, 34;
    --mdb-btn-bg: #E65922 !important;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(230, 89, 34, 0.5);
    --mdb-btn-hover-bg: #FC583F !important;
    --mdb-btn-focus-bg: #fc583f !important;
    --mdb-btn-disabled-bg: #fc583f !important;
}

.btn-primary {
    --mdb-btn-bg: #E65922 !important;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(230, 89, 34, 0.5);
    --mdb-btn-hover-bg: #FC583F !important;
    --mdb-btn-focus-bg: #fc583f !important;
    --mdb-btn-active-bg: #fc583f !important;
    --mdb-btn-disabled-bg: #fc583f !important;
}


.text-menu-style {
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
}

.main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .dlcar-sidenav a {
        font-size: 15px;
        padding: 10px 10px;
    }
}

.none-border-card-footer {
    --mdb-card-footer-border-width: 0px !important;
}